
header{
	background-color: indianred;
	color: black;
	font-size: 50px;
	align-content: center;
	text-align: center;
  opacity: 0.8;

}
h1{
	background-color:white;
	text-align: center;
	font-size: 35px;
  color: indianred;
}
#h1{
	text-align: center;
}
#b2{
	width: 150px;

}
.form-popup {
 
  background-color: white;
  display: none;
  position: fixed;
  bottom: 100px;
  left: 32%;
  border: 3px solid #B9B9BA;
  border-radius: 5px;
<!-- dc dx-->
}
.form-container {
  max-width: 500px;
  padding: 70px;
  background-color: white;
}
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
#n1{
  background-color: #444444;
}
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 38%;
  opacity: 0.8;
}
.form-container .btn:hover{
  color: black;
}
.form-container .btncancel{
  background-color: indianred;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 38%;
  opacity: 0.8;
}
.form-container .btncancel:hover{
  color: black;
  background-color: indianred;
}
.btn{
   background-color: #4CAF50;
  color: white;
  padding: 16px 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-bottom:1px;
  opacity: 0.8;
}
.tab button:hover {
  background-color: #4CAF50;
  color: black;
}
.nav .navv:hover {
  background-color: indianred;
  color: black;
}